@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    
    margin: 0;
    box-sizing: border-box;
}

html{
    
    max-width: 1400px
    font-family 'Inter';

}


body {
    
    background-color: #1f1d2c;
    position: relative; z-index: 2;
    font-family: 'Inter';
    background-color: #1f1d2c;
    
}

/* Menu Hamburguesa*/

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #f1a600;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #f1a600;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #f1a600;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* Fin Menu Hamburguesa*/

.contenedor-general{

    position: relative;
    max-width: 100%;
    z-index: 10;
}

.navbar{
    
    padding-right: 6rem;
    position: relative; z-index: 10;
    padding-top: 2rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: end;
    background-color: rgba(36, 38, 53, .1 );
    z-index: 10;
}



.navbar> ul > li{

    list-style: none;
    display: inline-block;
    margin-left: 2rem;
    font-weight: 400;
    font-size: 9px;
}

.navbar > ul > li > a{
    
    justify-content: end;
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
}

.navbar > ul > li > a:hover{
    color: #f1a600;
}


.foto{
    display: flex;
    justify-content: center;
    padding-left: 15rem;
    
}

.foto > img{
    position: absolute; z-index: 10;
    width: 20rem;
}


.square{
    
    position: relative; z-index: 5;
    display: flex;
    justify-content: end;
    align-items: center;
}
.square > img{
    
    width: 50%;
    height: 50em;
    position: absolute;
    z-index: 10;
}


.container{
    padding-bottom: 7rem;
    background-color: #1f1d2c;


}
.header{

    position: relative; z-index: 30;
    padding-top: 5rem;
    padding-left: 5rem;
    padding-bottom: 2rem;
    display: flex;
    display: block;

}

.header > h3{
    color: #ffffff;
    font-size: 50px;
}

.header > article{
    color: #ffffff;
    font-size: 30px
}

.header{
    color: #ffffff;
}



.a{

    display: flex;
    color: #f1a600;
    font-size: 40px;
    font-weight: 600;
    gap: 1rem;
}

.b{
    font-weight: 400;
    color: #ffffff;
    
}

.c{
    display: flex;
    color: #ffffff;
    font-size: 40px;
}



.socialmedia{
    padding-left: 5rem;
    display: flex;
    gap: 2rem;
}

.socialmedia > img{
    width: 3rem;
}

.acercaDeMi{
    padding-top: 3rem;
}




    
.acercaDeMi {
    height: 40rem;
    background-color: rgba(67, 70, 90, 0.1);
    color: white;
    text-align: center;
    grid-column: 1/15;
    grid-row: 9/11;
    
}

.acercaDeMiLogos{
    
    display: flex;
    gap: 4rem;
    justify-content:center

}

.acercaDeMiLogos > img{
       
}

.itemTextoLogos > img{

    width: 10rem;
}

    

.experiencia {

    gap: 3rem;
    padding-top: 4rem;
    justify-content: center;
    background-color: #1f1d2c;
    display: grid;
    margin: 4rem; auto;
    
    grid-template-areas: "experiencia experiencia experiencia experiencia"
                         "dos tres cuatro once"
                         "cinco seis siete once"
                         "ocho nueve diez once";
}

.experiencia > .uno{

    padding-bottom: 3rem;
    margin-right: 2rem;
    text-align: center;

}

.experiencia .uno,
.experiencia .dos,
.experiencia .tres,
.experiencia .cuatro,
.experiencia .cinco,
.experiencia .seis,
.experiencia .siete,
.experiencia .ocho,
.experiencia .nueve,
.experiencia .diez,
.experiencia .once {
    
    position: relative;
    
}

.experiencia .uno {
    background-color: #1f1d2c;
    color: white;
    font-size: 40px;
    grid-area: experiencia;
}

.experiencia .dos {
    
  
    grid-area: dos;
    z-index: 22;
}

.experiencia .tres {
    background-color: #1f1d2c;
    color: white;
    grid-area: tres;
}

.experiencia .cuatro {
    background-color: #1f1d2c;
    color: white;
    grid-area: cuatro;
}

.experiencia .cinco {
    background-color: #1f1d2c;
   
    grid-area: cinco;
}

.experiencia .seis {
    background-color: #1f1d2c;
    color: white;
    grid-area: seis;
}

.experiencia .siete {
    background-color: #1f1d2c;
    grid-area: siete;
    color: white;
}

.experiencia .ocho {
    background-color: #1f1d2c;
    
    grid-area: ocho;
}

.experiencia .nueve {
    background-color: #1f1d2c;
    color: white;
    grid-area: nueve;
}

.experiencia .diez {
    background-color: #1f1d2c;
    color: white;
    grid-area: diez;
}

.experiencia .once {
    background-color: #1f1d2c;
    color: white;
    grid-area: once;
    align-items: center;
}

.titulohabilidades{
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 30px;

}

.Habilidades{
    
    position: relative;
    max-width: 100%;
    padding: 4rem;
    display: flex;
    justify-content: center;

}

.porcentajes > p{
    
    color: #f1a600;
    font-size: 50px;
    font-weight: 650;
    
}

.textohabilidades{
    color: #ffffff;
    font-weight: 50;
    margin: 3rem;
   margin-top: 1rem;
   
}

.miportafolio{

    display: flex;
    justify-content: center;
    
    color: #ffffff;

}


.square2{
    position: absolute;
  
    
}

.square2 > img{
    display: flex;
    justify-content: flex-start;
    width: 15rem;
    height: auto;
   
}




.wrapper{

   margin-left: 
   text-align: center;
   margin-top: 4rem;
        display: grid;
        grid-template-columns: repeat(2, 3fr);
        grid-gap: 1px;
        grid-auto-rows: minmax(400px, auto);
}

.one{

    margin-left: 7rem;
    height: 20rem;
    width: auto;
    background-color: #f1a600;
    width: 70%;

}
.one > img{
    width: 95%;
    margin-top: 2rem;
}


.three{
    height: 20rem;
    width: auto;
    background-color: #242635;
    width: 70%;

}

.three > img{
    width: 96%;
    height: 95%;
    margin-top: 2rem;
}


.four{
    margin-left: 7rem;
    height: 20rem;
    width: auto;
    background-color: #f1a600;
    width: 70%;
}

.four > img{

    width: 96%;
    height: 95%;
    margin-top: 2rem;

}

.contacto{
    
    background-color: #242635;
    width: 100%;
    height: 30rem;
}

.contacto > h2{
padding-top: 2rem;    
text-align: center;
color: #ffffff;
font-size: 30px;
font-weight: 600;

}

.imagenescontacto{

    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10rem;
}


.telefono > img{
    width: 100px;
    padding-top: 4rem;
    padding-bottom: 2rem;
    

}

.mail > img{
    width: 100px;
    padding-top: 10rem;
    padding-bottom: 1rem;

}

.telefono > h2{
     
     color: #ffffff;
     font-weight: 700;

}

.telefono > p{
    color: gray
   
}

.mail > h2{
    color: #ffffff;
    font-weight: 700;
    
}

.mail > p{
    color: gray
    
}

.footer{
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #ffffff;
    font-weight: 200;
    text-align: center;
}

/* Responsive Design */

@media screen and (max-width: 768px) {

    
    .foto{
        padding-right: 1rem;
        position: absolute
        justify-content: center;
       
    }
  

    .square{
    width: 100%;
    height: 9rem;
    position: absolute;
    z-index: 0;
    }
    
    .header{
        padding-left: none;
    }

    .acercaDeMi{
        padding: 2rem;
    }


    .miportafolio{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 1px;

    }

    .itemTextoLogos > img{
      width: 8rem;
    }
    }


    @media screen and (max-width: 480px){

    html{
        font-size: smaller;
    }

    .foto > img{
       padding-right: 1rem;
       width: 230px;
    }

  .itemTextoLogos > img{
    width: 5rem;
   }

   .imagenescontacto{
       padding-left: 3rem;
       font-size: smaller;
   }
   
   .telefono > img{
    width: 50px;
    padding-top: 4rem;
    padding-bottom: 2rem;
     

   }

   .mail > img{
    width: 50px;
    padding-top: 10rem;
    padding-bottom: 1rem;

}

    }

